:root {
	--primary: #42b983;
	--success: #4278b9;
	--danger: #b9425e;
	--warning: #b97042;
	--dark: #1a1f24;
	--light: #fcfcfc;
	--mainColor: var(--primary);
}
.f-text-primary {
	color: var(--primary);
}
.f-text-success {
	color: var(--success);
}
.f-text-danger {
	color: var(--danger);
}
.f-text-warning {
	color: var(--warning);
}
.f-text-dark {
	color: var(--dark);
}
.f-text-light {
	color: var(--light);
}
.f-bg-primary {
	background-color: var(--primary);
	color: var(--light);
}
.f-bg-success {
	background-color: var(--success);
	color: var(--light);
}
.f-bg-danger {
	background-color: var(--danger);
	color: var(--light);
}
.f-bg-warning {
	background-color: var(--warning);
	color: var(--light);
}
.f-bg-dark {
	background-color: var(--dark);
	color: var(--light);
}
.f-bg-light {
	background: var(--light);
	color: var(--dark);
}